body{
     font-family: "Montserrat", sans-serif;
     font-weight: 500;
     margin: 0px;
     background-color: black;
     color: white;
     overflow: hidden;
}

.main{
    display: flex;
    height: 100vh;
    padding: 1rem;

}

.sidebar{
    background-color: #000;
    width: 300px;
    border-radius: 1rem;
    margin-right:10px ;
}
.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}
a{
    color: white;
    text-decoration: none;
}
.nav-option{
    line-height: 2.5rem;
    opacity: 0.7;
}
.nav-option:hover{
    opacity: 1;
}
.nav-option i{
    font-size: 1.25rem;
    padding: 0.7rem 1rem;
}
.nav-option a{
    font-size: 1rem;
}
.library{
    background-color: #121212;
    padding: 1rem;
    margin-top: 10px;
    border-radius: 1rem;
    height: 100%;
}

.lib-option a{
    font-size: 1rem;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lib-option{
    opacity: 0.7;
}
.lib-option:hover{
    opacity: 1;
}

.lib-option img{
    height: 1.25rem;
    width: 1.25rem;
    padding: 0 1rem;
}
.icons i{
    padding: 0 0.3rem;
    opacity: 0.7;
    margin-top: 0.4rem;
}
.icons i:hover{
    opacity: 1;
}
.box{
    height: 8rem;
    margin:0.5rem 0;
    border-radius: 0.7rem;
    background-color: #232323;
}
.box-p1{
    font-size: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    font-weight: 500;

}
.box-p2{
    font-size: 0.75rem;
    padding-left: 1rem;
    opacity: .75;
}
.badge{
    background: #fff;
    padding: 0.3rem 1rem;
    font-weight: 700;
    margin-left: 13px;
    border: none;
    border-radius: 100px;
}
.main-content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1rem;
}
.sticky-nav{
    position: sticky;
    top: 0px;
    height: 2rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    background-color: #121212;
    z-index: 10;  
}
@media (max-width:1000px){
    .hide{
        display: none;
    }
}
.btn{
    padding-right: 1rem;
}
.badge i{
    padding-right: 0.4rem;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 150px;
    padding: 0.6rem;
    background-color: #232323;
    border-radius: 0.4rem;
    margin-left: 1.3rem;
    margin-top: 1rem;
}
.card-img{
    width: 100%;
    padding: 0;
    border-radius: 0.4rem;
    box-shadow: 3px 3px 5px black;
}
.card-title{
    font-weight: 600;
}
.card-info{
    font-weight: 400;
    font-size: 0.6rem;
    opacity: 0.6;
}

.footer{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    width: 90%;
    border-top: 1px solid white;
    opacity: 0.7;
}

.music-player{
    background-color: #000;
    position: fixed;
    bottom: 0px;
    height: 8vh;
    width: 100vw;
    display: flex;
}

.album{
    width: 25%;
    display: flex;
}
.album img{
    height: 2.5rem;
    width: 2.5rem;
    margin: 0.7rem;
}
.album p b{
    font-size: 0.8rem;
}
.bold{
    margin-top: 0.7rem;
}
.album p{
    font-size: 0.5rem;
}
.album i{
    position: fixed;
    height: 1rem;
    width: 1rem;
    margin-top: 1.2rem;
    left: 250px;
}
.player{
    width: 50%;

}
.control{
    width: 25%;
}

.player-control{
    display: flex;
    justify-content: center;
    width: 100%;
}
.player-control img{
    height: 1rem;
    width: 1rem;
    margin: 0 1.5rem;
    padding-top: 1rem;
    opacity: 0.7;
}
.playback-bar{
    display: flex;
    justify-content: center;
}
.playback-bar input{
    width: 80%;
    height: 0.15rem;
    margin-top: 0.5rem;
}
span{
    font-size: 0.7rem;
    margin: 0 0.4rem;
}
